<!-- Call To Action Section Starts -->
<section class="call-action-all">
    <div class="call-action-all-overlay">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- Call To Action Text Starts -->
                    <div class="action-text">
                        <h2>Commence Your Journey Today with Sweep Trade</h2>
                        <p class="lead" data-aos="fade-up" data-aos-duration="500">Register for Free and Commence
                            Investing!</p>
                    </div>
                    <!-- Call To Action Text Ends -->
                    <!-- Call To Action Button Starts -->
                    <p class="action-btn"><a class="btn btn-primary" href="/signup">Register Now <i
                                class="fas fa-sign-in-alt"></i></a></p>
                    <!-- Call To Action Button Ends -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action Section Ends -->

<!-- Footer Starts -->
<footer class="footer">
    <!-- Footer Top Area Starts -->
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Starts -->
                <div class="col-sm-12 col-md-5">

                    <img src="images/logo.png" alt="logo" style="max-width: 100px;margin-left: -2%;">
                    <div class="menu">
                        <p style="color: #C2C2C2; text-align: justify;">Envisioned and steered by industry
                            trailblazers,<br> <strong><em>Sweep Trade</em></strong> stands as a testament to a clear<br>
                            and ambitious mission: Delivering unparalleled<br> trading solutions on a global scale.
                            Anchored in an<br> unwavering commitment, our ethos is dedicated <br>to fostering an
                            exceptional, client-centered culture.</p>
                        <p>
                            <span style="font-size: 2.5rem; color: #2cccc9;">

                                <a href="<%= discordLink %>" target="_blank" title="Reach out on Discord"><i
                                        class="bx bi-discord"></i></a>
                                &nbsp;
                                &nbsp;
                                <a href="<%= whatsappLink %>" target="_blank"
                                    title="Explore on Tiktok"><i class="bx bi-whatsapp"></i> </a>
                                &nbsp;
                                &nbsp;
                                <a href="<%= telegramLink %>" target="_blank" title="Join on Telegram"> <i
                                        class="bx bi-telegram"></i></a>
                            </span>
                        </p>


                    </div>


                </div>
                <!-- Footer Widget Ends -->
                <!-- Footer Widget Starts -->
                <div class="col-sm-4 col-md-2">
                    <h4>COMPANY</h4>
                    <div class="menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/faq">FAQs</a></li>
                            <li><a href="/contact">Contact Us</a></li>

                        </ul>
                    </div>
                </div>
                <!-- Footer Widget Ends -->
                <!-- Footer Widget Starts -->
                <div class="col-sm-4 col-md-2">
                    <h4>LEGAL</h4>
                    <div class="menu">
                        <ul>

                            <li><a href="/privacy">Privacy Policy</a></li>
                            <li><a href="/terms">Terms of Service</a></li>

                        </ul>
                    </div>
                </div>
                <!-- Footer Widget Ends -->
                <!-- Footer Widget Starts -->
                <div class="col-sm-4 col-md-2">
                    <h4>CONTACT</h4>
                    <div class="menu">


                        <a href="mailto:<%= contactEmail %>" style="color: #fff;line-height: 2.5;"><i
                                class="bx bi-chat-right-text-fill" style="color: #2cccc9"></i>&nbsp;&nbsp;Talk To
                            Support</a><br>
                        <a href="mailto:<%= contactEmail %>" style="color: #fff;line-height: 2.5;"><i
                                class="bx bi-chat-right-text-fill" style="color: #2cccc9"></i>&nbsp;&nbsp;Talk To
                            Service</a><br>
                        <!-- <a href="mailto:sweeptrades@gmail.com" style="color: #fff;"><i
                                class="bx bi-chat-right-text-fill" style="color: #2cccc9"></i>&nbsp;&nbsp;Talk To
                            Agent</a>

                            <p>Contact Email: 
                            </p>
                            <p>Phone Number: <%= contactPhoneNumber %>
                            </p> -->

                    </div>
                </div>
                <!-- Footer Widget Ends -->
            </div>
        </div>
    </div>
    <!-- Footer Top Area Ends -->
    <!-- Footer Bottom Area Starts -->
    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- Copyright Text Starts -->
                    <p style="text-align: center;">
                        © Copyright 2021 -
                        <script>document.write(new Date().getFullYear());</script> | All Rights Reserved
                    </p>

                    <!-- Copyright Text Ends -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom Area Ends -->
</footer>
<!-- Footer Ends -->
<!-- Back To Top Starts  -->
<a href="#" id="back-to-top" class="back-to-top">
    <i class="bx bi-rocket-fill"></i>
</a>



<style type="text/css">
    .google-btn {
        background: #28b463;
        left: 20px;
        right: auto;
        position: fixed;
        bottom: 0px;
        z-index: 200002;
        border: 0;
        color: #fff;
        border-radius: 6px;
        padding: 12px 5px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        transition: all 0.5s;
        outline: 0;
        box-shadow: none;
        font-family: 'Open Sans', Nunito, sans-serif;
        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
        box-sizing: content-box !important;
        -webkit-box-sizing: content-box !important;
        -moz-box-sizing: content-box !important;

    }

    .goog-te-banner-frame.skiptranslate,
    .goog-te-gadget-icon {
        display: none !important;
    }

    body {
        top: 0px !important;
    }

    .goog-tooltip {
        display: none !important;
    }

    .goog-tooltip:hover {
        display: none !important;
    }

    .goog-text-highlight {
        background-color: transparent !important;
        border: none !important;
        box-shadow: none !important;
    }
</style>
<!-- Back To Top Ends  -->

<!--  JS Files -->
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/custom.js"></script>

<!-- Live Style Switcher JS File - only demo -->
<script src="js/styleswitcher.js"></script>


<!-- Aos Js -->
<script src="js/aos.js"></script>

<script>
    AOS.init({
        easing: 'ease-in-out-sine',
        duration: 1000
    });
</script>


<!-- Particles Js -->
<script src="js/particles.js"></script>
<script src="js/app.js"></script>

<!--CHAT ME API -->
<!-- Smartsupp Live Chat script -->
<!-- <script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = '0f3c7d78f39be9d01223c5712d91ef5de2428a76';
window.smartsupp||(function(d) {
var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
s=d.getElementsByTagName('script')[0];c=d.createElement('script');
c.type='text/javascript';c.charset='utf-8';c.async=true;
c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script> -->


<script>

    function googleTranslateElementInit() {

        new google.translate.TranslateElement({

            pageLanguage: 'en',

            autoDisplay: 'true',

            layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL

        }, 'google_translate_element');

    }

</script>


<!--google translator api-->
<script src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit'></script>

</div>
<!-- Wrapper Ends -->
<script type="text/javascript">
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>


</body>


</html>