<%- include('partials/header') %>
    <!-- Banner Area Starts -->
    <section class="banner-area">
        <div class="banner-overlay">
            <div class="banner-text text-center">
                <div class="container">
                    <!-- Section Title Starts -->
                    <div class="row text-center">
                        <div class="col-xs-12">
                            <!-- Title Starts -->
                            <h2 class="title-head">About <span>Us</span></h2>
                            <!-- Title Ends -->

                        </div>
                    </div>
                    <!-- Section Title Ends -->
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area Starts -->
    <!-- About Section Starts -->
    <section class="about-page">
        <div class="container">
            <!-- Section Content Starts -->
            <div class="row about-content">

                <!-- Content Starts -->
                <div class="col-sm-12 col-md-7 col-lg-6">
                    <div class="feature-about">
                        <h3 class="title-about">Unveiling Our Essence?</h3>
                        <p style="color: #C2C2C2;font-size: 15px;">

                            Welcome to the forefront of financial evolution at <strong>Sweep Trade</strong>. Navigate
                            the dynamic landscapes of digital currencies and forex trading with confidence. Our seasoned
                            team of traders and analysts stands by your side, committed to providing unparalleled
                            expertise, resources, and unwavering support to ensure your success in these high-paced
                            markets.
                        </p>

                        <p style="color: #C2C2C2;font-size: 15px;">

                            At the heart of our mission is an unyielding dedication to delivering the epitome of
                            customer service and support. Our 24/7, dedicated team of customer service professionals is
                            poised to address any queries or concerns. Additionally, our cutting-edge trading platform
                            is meticulously crafted for unparalleled intuitiveness and user-friendliness, enabling
                            clients to navigate the markets with unwavering confidence.
                        </p>

                        <p style="color: #C2C2C2;font-size: 15px;" id="cert">
                            <em>

                                Your strategic alliance with our firm in the dynamic spheres of cryptocurrency and
                                trading is profoundly appreciated. We are enthusiastic about this partnership and
                                unwaveringly committed to actively advancing and realizing your financial objectives.
                            </em>
                        </p>
                    </div>
                    <!-- <div class="feature-about" style="display: flex;">
                        <div class="pdf_icon">
                            <i class="bx bi-file-earmark-pdf-fill"></i>
                        </div>
                        <div class="cert">

                            <h2 class="cert_h2">Sweep Trade, Certificate of Incorporation</h2>
                            <p class="cert_p"> <a href="#"
                                    onclick="document.getElementById('id01').style.display='block'">Click To View</a>
                            </p>
                        </div>
                    </div> -->
                    <br>
                    <a class="btn btn-primary btn-services" href="/contact">Contact Us</a>


                    <!-- <div class="modal" id="id01">

                        <div class="divine">
                            <img src="images/ApexPocketOption_Certificate.jpg">
                        </div>

                    </div>
                    <script type="text/javascript">
                        // Get the modal
                        var modal = document.getElementById('id01');

                        // When the user clicks anywhere outside of the modal, close it
                        window.onclick = function (event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                        }
                    </script> -->
                </div>
                <!-- Content Ends -->

                <!-- Image Starts -->
                <div class="col-sm-12 col-md-5 col-lg-6 text-center">
                    <img id="about-us" class="img-responsive img-about-us" src="images/lap.png" alt="about us">
                </div>
                <!-- Image Ends -->

            </div>
            <!-- Section Content Ends -->
        </div><!--/ Content row end -->
    </section>
    <!-- About Section Ends -->

    <!-- Team Section Starts -->
    <section class="team">
        <div class="container">

            <div class="element-header">
                <h2 class="elementor-heading-title">We are renowned for prioritizing the needs of our clients.</h2>
            </div>
            <div class="element-container">
                <div class="element-container-widget-1">
                    <div class="icon-cover"><i class="bx bi-trophy-fill"></i></div>
                    <h2 class="elementor-heading-title2">Triumphant Trading Strategy</h2>
                    <p class="elementor-p-content">Strategic Investment Solutions – Now Available for Your Utilization.
                    </p>
                </div>
                <div class="element-container-widget-2">
                    <div class="icon-cover"><i class="bx bi-graph-up-arrow"></i></div>
                    <h2 class="elementor-heading-title2">Sufficient Leverage</h2>
                    <p class="elementor-p-content">Prospect to magnify your investment and attain significant returns.
                    </p>
                </div>
                <div class="element-container-widget-3">
                    <div class="icon-cover"><i class="bx bi-lightning-fill"></i></div>
                    <h2 class="elementor-heading-title2">Rapid Execution</h2>
                    <p class="elementor-p-content">Ultra-Fast Trading to Mitigate Slippage Effectively.</p>
                </div>
                <div class="element-container-widget-4">
                    <div class="icon-cover"><i class="bx bi-strava"></i></div>
                    <h2 class="elementor-heading-title2">Narrow Spreads</h2>
                    <p class="elementor-p-content">Efficient Trading Strategies – Now in Your Portfolio.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section Ends -->

    <section class="team">


        <div class="team-container">
            <div class="team-item1">
                <iframe style="box-sizing: border-box; display: block; height: 270px; width: 90%;object-fit: contain;"
                    src="https://www.youtube.com/embed/ueS509CfefA"
                    title="How to Trade Cryptocurrencies - The Basics of Investing in Digital Currencies"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div class="team-item2">

                <h2 class="firsth2">Why the Proliferation of Digital Currency Investments?</h2>
                <h2 class="secondh2">Choose Us: Over 200 Investment Reasons.</h2>
                <p class="pan">Our expert Traders implemented over 250 strategies in the past five (5) years, yielding
                    optimal results.</p>
                <p class="pan">We achieve peak profitability through the implementation of rigorously tested strategies.
                </p>
            </div>
        </div>

    </section>

    <!-- Footer Starts -->
    <footer class="footer">
        <!-- Footer Top Area Starts -->
        <div class="top-footer">
            <div class="container">
                <div class="row">
                    <!-- Footer Widget Starts -->
                    <div class="col-sm-12 col-md-5">

                        <img src="images/logo.png" alt="logo" style="max-width: 100px;margin-left: -2%;">
                        <div class="menu">
                            <p style="color: #C2C2C2; text-align: justify;">Envisioned and steered by industry
                                trailblazers,<br> <strong><em>Sweep Trade</em></strong> stands as a testament to a
                                clear<br> and ambitious mission: Delivering unparalleled<br> trading solutions on a
                                global scale. Anchored in an<br> unwavering commitment, our ethos is dedicated <br>to
                                fostering an exceptional, client-centered culture.</p>
                            <p>
                                <span style="font-size: 2.5rem; color: #2cccc9;">

                                    <a href="<%= discordLink %>" target="_blank" title="Reach out on Discord"><i
                                            class="bx bi-discord"></i></a>
                                    &nbsp;
                                    &nbsp;
                                    <a href="<%= whatsappLink %>" target="_blank" title="Explore on Tiktok"><i
                                            class="bx bi-whatsapp"></i> </a>
                                    &nbsp;
                                    &nbsp;
                                    <a href="<%= telegramLink %>" target="_blank" title="Join on Telegram"> <i
                                            class="bx bi-telegram"></i></a>
                                </span>
                            </p>


                        </div>


                    </div>
                    <!-- Footer Widget Ends -->
                    <!-- Footer Widget Starts -->
                    <div class="col-sm-4 col-md-2">
                        <h4>COMPANY</h4>
                        <div class="menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/faq">FAQs</a></li>
                                <li><a href="/contact">Contact Us</a></li>

                            </ul>
                        </div>
                    </div>
                    <!-- Footer Widget Ends -->
                    <!-- Footer Widget Starts -->
                    <div class="col-sm-4 col-md-2">
                        <h4>LEGAL</h4>
                        <div class="menu">
                            <ul>

                                <li><a href="/privacy">Privacy Policy</a></li>
                                <li><a href="/terms">Terms of Service</a></li>

                            </ul>
                        </div>
                    </div>
                    <!-- Footer Widget Ends -->
                    <!-- Footer Widget Starts -->
                    <div class="col-sm-4 col-md-2">
                        <h4>CONTACT</h4>
                        <div class="menu">


                            <a href="mailto:<%= contactEmail %>" style="color: #fff;line-height: 2.5;"><i
                                    class="bx bi-chat-right-text-fill" style="color: #2cccc9"></i>&nbsp;&nbsp;Talk To
                                Support</a><br>
                            <a href="mailto:<%= contactEmail %>" style="color: #fff;line-height: 2.5;"><i
                                    class="bx bi-chat-right-text-fill" style="color: #2cccc9"></i>&nbsp;&nbsp;Talk To
                                Service</a><br>


                        </div>
                    </div>
                    <!-- Footer Widget Ends -->
                </div>
            </div>
        </div>
        <!-- Footer Top Area Ends -->
        <!-- Footer Bottom Area Starts -->
        <div class="bottom-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Copyright Text Starts -->
                        <p style="text-align: center;">
                            © Copyright 2021 -
                            <script>document.write(new Date().getFullYear());</script> | All Rights Reserved
                        </p>

                        <!-- Copyright Text Ends -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom Area Ends -->
    </footer>
    <!-- Footer Ends -->
    <!-- Back To Top Starts  -->
    <a href="#" id="back-to-top" class="back-to-top">
        <i class="bx bi-rocket-fill"></i>
    </a>



    <style type="text/css">
        .google-btn {
            background: #28b463;
            left: 20px;
            right: auto;
            position: fixed;
            bottom: 0px;
            z-index: 200002;
            border: 0;
            color: #fff;
            border-radius: 6px;
            padding: 12px 5px;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            transition: all 0.5s;
            outline: 0;
            box-shadow: none;
            font-family: 'Open Sans', Nunito, sans-serif;
            box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
            box-sizing: content-box !important;
            -webkit-box-sizing: content-box !important;
            -moz-box-sizing: content-box !important;

        }

        .goog-te-banner-frame.skiptranslate,
        .goog-te-gadget-icon {
            display: none !important;
        }

        body {
            top: 0px !important;
        }

        .goog-tooltip {
            display: none !important;
        }

        .goog-tooltip:hover {
            display: none !important;
        }

        .goog-text-highlight {
            background-color: transparent !important;
            border: none !important;
            box-shadow: none !important;
        }
    </style>
    <!-- Back To Top Ends  -->

    <!--  JS Files -->
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/custom.js"></script>

    <!-- Live Style Switcher JS File - only demo -->
    <script src="js/styleswitcher.js"></script>


    <!-- Aos Js -->
    <script src="js/aos.js"></script>

    <script>
        AOS.init({
            easing: 'ease-in-out-sine',
            duration: 1000
        });
    </script>


    <!-- Particles Js -->
    <script src="js/particles.js"></script>
    <script src="js/app.js"></script>

    <!--CHAT ME API -->
    <!-- Smartsupp Live Chat script -->
    <!-- <script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = '0f3c7d78f39be9d01223c5712d91ef5de2428a76';
window.smartsupp||(function(d) {
var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
s=d.getElementsByTagName('script')[0];c=d.createElement('script');
c.type='text/javascript';c.charset='utf-8';c.async=true;
c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script> -->


    <script>

        function googleTranslateElementInit() {

            new google.translate.TranslateElement({

                pageLanguage: 'en',

                autoDisplay: 'true',

                layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL

            }, 'google_translate_element');

        }

    </script>


    <!--google translator api-->
    <script src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit'></script>

    </div>
    <!-- Wrapper Ends -->
    <script type="text/javascript">
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>


    </body>


    </html>